<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/config_pruebas.php" colors="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Test unitario">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Test de integración">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>